auth:
  key_file: <key_file>.json

file_id: <spreadsheet id>
sheets:
  matches: 0
  entries: 1
  judges: 2
  staff: 3
  vote: 4
  result: 5
  score: 6

prefix: "<大会名> "

judge_num: 3
staff_num: 1

ballot:
  template: 1hiba7wnR3u0dffsJmQTKSC-usT2_84OAk-xZ4VHhAYg
  title: "<大会名> 投票・採点シート"
  folder: <folder id>

  to_vote:
    - ["C7", 3]
    - ["I12", 5]
    - ["C8", 6]
    - ["I19", 8]
    - ["E36", 9]
    - ["E25", 10]
    - ["E38", 11]

  to_ballot:
    - ["B1", "I3"]
    - [0, "C5"]
    - [1, "E5"]
    - [4, "C7"]
    - [5, "C8"]
    - [[4,5], "E36"]
    - [6, "H5", true]

member_list:
  template: 1KifmaqP6p9_BWwJWQ5VKSH1EmzBJDmtE1Xo6AidSk9U
  title: "<大会名> 出場メンバー届"
  folder: <folder id>

  to_list:
    - ["B1", "K3"]
    - [0, "D4"]
    - [1, "F4"]
    - [4, "F6", true]
    - side: "B6"

aggregate:
  template: 110TumZZkPah1Me__3fzTAcd7u7MKunLSNUqWyprVMJc
  title: "<大会名> 主審用集計用紙"
  folder: <folder id>

  to_aggregate:
    - [0, "C4"]
    - [1, "E4"]
    - [4, "C6"]
    - [5, "C7"]

  link:
    - ["C12", "C13"]
    - ["D12", "D13"]
    - ["E12", "E13"]
    - ["F12", "F13"]
    - ["G12", "G13"]
    - ["H12", "H13"]
    - ["C19", "C16"]
    - ["D19", "D16"]
    - ["E19", "E16"]
    - ["F19", "F16"]
    - ["G19", "G16"]
    - ["H19", "H16"]
